* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    padding: 0;
}

.product {
    padding: 25px calc( 50% - 1170px / 2);
    background-color: purple;
    background: linear-gradient(to top, #8a77ad, #4e2e4a);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
}

.product-title {
    font-size: 60px;
    line-height: 69px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 40px;
}

.product-list {
    list-style-image: url(image/checkbox.svg);
    list-style-position: outside;
    padding-left: 20px;
}

.product-item {
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.about {
    padding: 45px calc( 50% - 1170px / 2);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;
}

.container-about-text {
    width: 605px;
}

.title {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    margin: 0;
}

.about-text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 11px;
}

.digniti {
    background-color: pink;
    padding: 25px calc( 50% - 1170px / 2);
    background: #F5F5F5;
    padding-bottom: 48px;
    background-image: url(image/bg-digniti.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.digniti-title {
    text-align: center;
    margin: 0;
    margin-bottom: 22px;
}

.digniti-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.diginiti-item {
    display: flex;
    align-items: flex-start;
    width: 45%;
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.diginiti-item::before {
    content: '+';
    color: #FFFFFF;
    font-size: 2em;
    padding: 6px 8px;
    background-color: #39233f;
    margin-right: 16px;
    margin-top: 7px;
}

.screenshots {
    padding: 25px calc( 50% - 1170px / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots-title {
    margin: 0;
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 45px;
}

.description {
    width: 48%;
    margin: 0;
    display: flex;
    align-items: flex-start;
    margin-bottom: 27px;
}

.description-title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    color: #445161;
}

.descrtiption-text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.description-img {
    margin-right: 15px;
}

.reviews {
    background-color: pink;
    padding: 25px calc( 50% - 1170px / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #F5F5F5;
    margin-bottom: 45px;
    background-image: url(image/bg-digniti.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.reviews-title {
    margin: 0;
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 29px;
}

.reviews-container {
    width: 48%;
    margin: 0;
    display: flex;
    align-items: flex-start;
    margin-bottom: 27px;
}

.reviews-img {
    margin-right: 13px;
}

.reviews-figcaption {
    position: relative;
    width: 483px;
    background: #eedce4;
    border-radius: 5px;
    padding: 16px 10px 5px 15px;
}

.reviews-figcaption::before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border: 14px solid transparent;
    border-right: 20px solid #eedce4;
    position: absolute;
    left: -25px;
    top: 43px;
}

.reviews-text {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 0;
    margin-bottom: 5px;
    font-family: Roboto, sans-serif;
}

.reviews-signature {
    font-size: 14px;
    line-height: 18px;
    color: #989898;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.buy {
    padding: 25px calc( 50% - 1170px / 2);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 50px;
}

.buy-title {
    margin: 0;
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}

.card {
    background: #445161;
    border-radius: 5px;
    padding-top: 13px;
    background: linear-gradient(to top, #4e2b45, #505f72);
}

.card-title {
    margin: 0;
}

.category {
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
}

.price {
    font-size: 40px;
    line-height: 30px;
    color: #445162;
    background: #FFFFFF;
    border: 2px solid #445162;
    text-align: center;
    padding: 25px 16px;
    margin: 0;
    margin-bottom: 8px;
}

.card-list {
    margin: 0px 20px 0 8px;
}

.card-item {
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.card-button {
    padding: 16px 90px 9px 90px;
    background: #FFFFFF;
    margin: 16px 38px;
    font-size: 18px;
    line-height: 18px;
    color: #445161;
    text-align: center;
    font-weight: bold;
    border-radius: 7px
}

.footer {
    background-color: purple;
    padding: 25px calc( 50% - 1170px / 2);
    display: flex;
    background: linear-gradient(to top, #4e2e4a, #8a77ad);
    flex-wrap: wrap;
    justify-content: center;
}

.footer-title {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 43px;
}

.form {
    width: 503px;
    display: flex;
    flex-direction: column;
    margin-right: 52px;
}

.input {
    border-radius: 5px;
    padding: 12px 12px 7px 12px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    font-family: inherit;
}

.input-submit {
    width: 30%;
    align-self: center;
    color: #445162;
    padding: 12px 0 7px 0;
    font-weight: bold;
}

.footer-item {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-list {
    padding: 0;
}

.footer-list-link {
    text-decoration: none;
}

.icon:hover {
    background-color: #fff;
    color: #445162;
    outline: 1px solid #445162;
}

.icon-icq:hover {
    fill: blue;
}

.img-footer {
    margin-top: 28px;
}

.copy {
    background: #F5F5F5;
    text-align: center;
    margin: 0;
    padding: 12px 0 12px 0;
    font-size: 12px;
    line-height: 24px;
    color: #445162;
}